body {
  font-family: 'Fira Sans' !important;
  font-size: 12px !important;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 5px 0;
  padding: 0 0 10px 0;
}

.table-kasus {
  width: 70%;
}

table {
  margin-top: 6px;
}

th {
  background-color: #363636;
  color: white !important;
  position: sticky;
  text-align: center !important;
  top: 170px;
}

.hold {
  background-color: white;
  margin-top: -10px;
  padding: 10px 0 5px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nobr {
  white-space: nowrap;
}

.legend,
.chart {
  margin-top: 20px;
}

.legend table {
  font-size: 10px !important;
}

.line-chart {
  margin-top: 30px;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #B10000;
  border-radius: 1.5px;
}

.nav {
  margin-top: 5px;
  margin-bottom: 5px;
}

a:link, a:hover, a:visited, a:active {
  color: #B10000;
}

/* Override Bulma Class */

h1.title.is-1 {
  margin-bottom: 10px;
}

h2.subtitle.is-2,
h4.subtitle.is-4 {
  margin-bottom: 0;
}
