body {
  font-family: 'Fira Sans' !important;
  font-size: 11px !important;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
  padding: 0 0 10px 0;
}

table {
  border-collapse: collapse;
  margin-top: -5px;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
  position: sticky;
  /* top: 77px; */
  top: 105px;
}

.hold {
  background-color: white;
  margin-top: -10px;
  padding: 10px 0 0 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nobr {
  white-space: nowrap;
}

.legend,
.chart {
  margin-top: 20px;
}

.legend table {
  font-size: 9px !important;
}

.line-chart {
  margin-top: 30px;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #B10000;
  border-radius: 1.5px;
}
