<footer>
  <div style="padding-top: 20px; padding-bottom: 20px;">
    <p>Made with ❤ by <%= link_to 'Rizqi Nur Assyaufi', 'https://bandithijo.github.io', target: '_blank' %> (bandithijo@gmail.com) - 2020/07/03 | Powered by <%= link_to 'Ruby on Rails', 'https://rubyonrails.org', target: '_blank' %> | Source Code on <%= link_to 'GitHub', 'https://github.com/bandithijo/covid19-indo-harian', target: '_blank' %></p>
  </div>
</footer>
