<footer>
  <div style="padding-top: 20px;">
    <p>Made with ❤ by <%= link_to 'Rizqi Nur Assyaufi', 'https://bandithijo.github.io', target: '_blank' %> (bandithijo@gmail.com) - 2020/07/03 | Source Code: <%= link_to 'GitHub', 'https://github.com/bandithijo/covid19-indo-harian', target: '_blank' %></p>
  </div>
</footer>
