<div class="hold">
  <h1 class="title is-1">COVID-19 INDONESIA</h1>
  <h2 class="subtitle is-2">TABEL PENCATATAN DATA PERHARI</h2>
  <p>
    Sumber data: Situs Resmi Kementrian Kesehatan Republik Indonesian (https://kemkes.go.id)
    <br>
    Diperbaharui: <b><%= latest_updates %></b>
  </p>

  <%= render 'layouts/nav' %>
</div>
