<div class="container is-fluid hold">
  <h1 class="title is-1 is-size-3-mobile">COVID-19 INDONESIA</h1>
  <h2 class="subtitle is-2 is-size-4-mobile">TABEL PENCATATAN DATA PERHARI</h2>
  <p>
    Sumber data: Situs Resmi Kementrian Kesehatan Republik Indonesian (https://kemkes.go.id)
    <br>
    Diperbaharui: <b><%= latest_updates %></b>
  </p>

  <%= render 'layouts/nav' %>
</div>
