<div class="hold">
  <h1>COVID-19 INDONESIA - TABEL PENCATATAN DATA PERHARI</h1>
  <p>
    Sumber data: Situs Resmi Kementrian Kesehatan Republik Indonesian (https://kemkes.go.id)
    <br>
    Terakhir diperbaharui: <b><%= latest_updates %></b>
  </p>

  <%= render 'layouts/nav' %>
</div>
